header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 84px;
  width: 100%;
  background-color: var(--white-color);
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.leftHeaderSection {
  display: flex;
  align-items: center;
  margin: 0 59px 0 0;
}

.rightHeaderSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.searchBar {
  position: relative;
  width: 52%;
}

.searchBarInput {
  font-size: 16px;
  width: 100%;
  height: 44px;
  background-color: var(--bg-search-color);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  padding: 0 0 0 23px;
}

.rightHeaderSection > *:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-device-width: 767px) {
  header {
    height: 50px;
  }
  .rightHeaderSection {
    justify-content: flex-end;
  }
  .searchBar {
    max-width: fit-content;
  }
}
