#search {
  position: absolute;
  right: 0px;
  top: 13px;
}

#logo {
  width: 116px;
  height: 25px;
}

#menu {
  margin-right: 28px;
}

#videocamera {
  margin: 0 25px;
}

#dots {
  margin: 0 25px;
}

.notificationsWrapper {
  position: relative;
  margin: 0 25px;
  height: 26px;
}

.notificationsWrapper figcaption {
  position: absolute;
  left: 9px;
  bottom: 14px;
  background-color: var(--red-color);
  width: 18px;
  height: 18px;
  font-size: 12px;
  color: var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

#pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 25px;
}

@media screen and (max-device-width: 767px) {
  #pfp {
    width: 30px;
    height: 30px;
  }
  #search {
    position: static;
  }
}
